@import "styles/variables.scss";

.container {
  height: $header-height;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $spacing-lg;
  z-index: 999;
  background-color: transparent;
  top: 0;
  @media screen and (max-width: $mobile) {
    padding: 0 $spacing-sm;
  }
}

.expanded {
  height: 230px;
  transition: height 0.25s ease-in;
}

.logoContainer {
  display: flex;
  height: 100%;
  padding: 12px 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  @media screen and (max-width: $mobile) {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }
}

.logo {
  height: 50px;
  cursor: pointer;
}

.dropdownLinks {
  position: absolute;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  top: $header-height;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  &Visible {
    opacity: 1;
  }
}

.dropdownLink {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: $spacing-sm 0;
  a {
    margin: 0;
  }
}

.contactContainer {
  margin: 12px 0;
}

.linksContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.navLink {
  color: #ffffff;
  font-size: $text-size-regular;
  margin: 0 $spacing-lg;
  font-family: $paragraph-font;
  &:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  @media screen and (max-width: $tablet) {
    margin: 0 $spacing-md;
  }
}

.lastLink {
  margin-right: $spacing-xl;
  @media screen and (max-width: $tablet) {
    margin-right: $spacing-lg;
  }
}

.brand {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 3px 0px $color-brand-transparent;
  -moz-box-shadow: 0px 0px 3px 0px $color-brand-transparent;
  box-shadow: 0px 0px 3px 0px $color-brand-transparent;
  .navLink {
    color: $color-brand;
    &:hover {
      color: $color-brand-transparent;
    }
  }
}
