@import "styles/variables.scss";

.container {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-lg;
  @media screen and (max-width: $tablet) {
    grid-template-columns: 1fr;
    gap: $spacing-md;
  }
}

.image {
  height: 200px;
}

.content {
  display: flex;
  align-items: center;
}

.contentGrid {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: $spacing-md;
  @media screen and (max-width: $mobile) {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
  }
}

.metadata {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tag {
  display: inline-block;
  padding: $spacing-xs $spacing-md;
  margin-left: $spacing-md;
  border-radius: 5px;
  border: 2px solid $color-brand;
  color: $color-brand;
  font-size: $text-size-small;
  font-family: $paragraph-font;
  @media screen and (max-width: $mobile) {
    margin-left: 0;
    margin-right: $spacing-md;
  }
}

.tagContainer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  @media screen and (max-width: $mobile) {
    justify-content: flex-start;
  }
}

.socials {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  margin-top: $spacing-md;
  svg {
    margin-left: $spacing-lg;
    color: $color-brand;
    &:hover {
      color: $color-brand-transparent;
    }
  }
  @media screen and (max-width: $mobile) {
    justify-content: flex-start;
    svg {
      margin-left: 0;
      margin-right: $spacing-lg;
    }
  }
}

.description {
  grid-column: span 2;
}
