@import "styles/variables.scss";

.container {
  height: 40%;
  width: 100%;
  background-color: $color-light-gray;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: $spacing-lg 0;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-brand;
    z-index: 1;
    opacity: 0.3;
  }
}

.content {
  margin: $spacing-lg $spacing-xl;
  z-index: 2;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: $spacing-lg;
  width: 100%;
  p {
    color: #ffffff;
  }
  @media screen and (max-width: $mobile) {
    column-gap: $spacing-md;
    margin: $spacing-lg;
  }
}

.profile {
  display: block;
  border-radius: 50%;
  height: 50px;
  min-width: 50px;
  width: 50px;
  max-width: 50px;
  background-size: cover;
  background-position: center;
  background-color: $color-light-gray;
}

.description {
  font-style: italic;
  @media screen and (max-width: $mobile) {
    grid-column: span 2;
  }
}

.titles {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  p {
    margin: 0 2px;
  }
}

.spacer {
  @media screen and (max-width: $mobile) {
    display: none;
  }
}
