@import "styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  span {
    color: $color-brand;
  }
}

.contentGrid {
  margin-top: $spacing-md;
  width: 100%;
  display: grid;
  gap: $spacing-lg;
  @media screen and (max-width: $tablet) {
    grid-template-columns: 1fr !important;
    gap: $spacing-sm;
  }
}

.headingCentered {
  text-align: center;
}
