@import "styles/variables.scss";

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-lg;
  padding: 0 $spacing-lg;
  span {
    color: $color-brand;
  }
  @media screen and (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.content {
  width: 75%;
  p {
    margin: $spacing-lg 0;
  }
  small {
    color: $color-brand;
  }
  @media screen and (max-width: $tablet) {
    width: 100%;
    p {
      margin: $spacing-md 0;
    }
  }
}

.emphasis {
  @include emphasis;
  font-style: italic;
  font-family: $subtitle-font;
}

.cards {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  @media screen and (max-width: $tablet) {
    p {
      margin: $spacing-md 0;
    }
  }
}
