@import "styles/variables.scss";

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/images/hunters-race-MYbhN8KaaEc-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.9);
    filter: brightness(50%) contrast(95%);
    z-index: -2;
  }
}

.heroContent {
  height: 100%;
  display: flex;
  align-items: center;
  padding: $spacing-xl;
  width: 100%;
  max-width: 1600px;
  img {
    height: 250px;
  }
}

.title {
  color: #ffffff;
  height: 250px;
  width: 100%;
  margin: 0 $spacing-lg;
  font-size: 84px;
  line-height: 0;
  font-family: $title-font;
  position: relative;
  span {
    &:first-of-type {
      position: absolute;
      top: 34px;
    }
    &:nth-of-type(2) {
      position: absolute;
      top: 50%;
    }
    &:last-of-type {
      position: absolute;
      bottom: 34px;
      color: $color-brand;
    }
  }
}

.section {
  margin: $spacing-lg 0;
  display: flex;
  justify-content: center;
  &ExtraPadding {
    padding: $spacing-xl 0;
  }
}

.sectionGrid {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  gap: $spacing-xl;
  svg {
    color: $color-brand;
  }
  h2 {
    margin: 0;
  }
}

.cardGrid {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(375px, auto));
  grid-auto-rows: minmax(600px, 600px);
  gap: $spacing-lg;
  @media screen and (max-width: $tablet) {
    grid-template-columns: 1fr;
  }
}
