@import "styles/variables.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  span {
    color: $color-brand;
  }
}

.sectionSlim {
  width: 75%;
  @media screen and (max-width: $desktop) {
    width: 100%;
  }
}

.videoGrid {
  padding: $spacing-lg;
  padding-bottom: $spacing-xl;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  gap: $spacing-lg;
  @media screen and (max-width: $mobile) {
    padding: $spacing-sm;
    padding-top: $spacing-lg;
    padding-bottom: $spacing-xl;
    gap: $spacing-md;
    grid-template-columns: 1fr;
  }
}

.videoItem {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-brand;
    z-index: 1;
    opacity: 0.1;
  }
  &Wrapper {
    position: relative;
    transition: filter 0.3s, box-shadow 0.3s, transform 0.3s;
    &:hover {
      cursor: pointer;
      filter: contrast(1.1) brightness(0.9);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
      transform: scale(1.05);
      .videoItemOverlay {
        svg {
          opacity: 1;
        }
      }
    }
  }
  &Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    svg {
      transition: opacity 0.3s;
      opacity: 0;
      height: 56px;
      width: 56px;
      @media screen and (max-width: $mobile) {
        height: 72px;
        width: 72px;
      }
    }
  }
}

.modal {
  width: 100%;
  max-width: 75vw;
  z-index: 10000;
  span {
    color: $color-brand;
  }
  video {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: $mobile) {
    max-width: 90vw;
    max-height: 90vw;
  }
  &Web {
    max-height: 75vh;
    overflow: auto;
    overflow-x: hidden;
    @include scrollbar;
  }
}

.webGrid {
  padding: $spacing-lg;
  padding-bottom: $spacing-xl;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-lg;
  @media screen and (max-width: $tablet) {
    grid-template-columns: 1fr;
  }
  @media screen and (max-width: $mobile) {
    padding: $spacing-sm;
    padding-top: $spacing-lg;
    gap: $spacing-md;
  }
}

.webItem {
  position: relative;
  transition: filter 0.3s, box-shadow 0.3s, transform 0.3s;
  &:hover {
    cursor: pointer;
    filter: contrast(1.1) brightness(0.9);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    transform: scale(1.05);
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-brand;
    z-index: 1;
    opacity: 0.1;
  }
}

.webModalContainer {
  image {
    width: 100%;
    height: 100%;
  }
  position: relative;
}

.webModal {
  display: flex;
  flex-direction: column;
}

.webContentLink {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $spacing-sm;
  a {
    svg {
      height: 24px;
      width: 24px;
      color: #fff;
      &:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }
}

.chevronContainer {
  margin-top: $spacing-sm;
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chevron {
  color: #ffffff;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
}
