@import "./variables.scss";

body {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;
  min-width: 300px;
  @include scrollbar;
}

div,
footer,
header,
main,
article {
  box-sizing: border-box;
}

h1 {
  @include title;
  margin: $spacing-md 0;
}

h2 {
  @include subtitle;
  margin: $spacing-md 0;
}

h3 {
  @include emphasis;
  margin: $spacing-md 0;
}

h4 {
  font-family: $paragraph-font;
  color: $text-color-primary;
  margin: 0;
  font-size: $text-size-upsized;
}

button {
  background: none;
  white-space: nowrap;
  cursor: pointer;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  @include paragraph;
}

p,
ul,
a,
small,
label,
input,
textarea {
  @include paragraph;
  margin: $spacing-sm 0;
}

small {
  font-size: $text-size-small;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
}
