$text-color-primary: #707070;
$text-color-secondary: #949494;

$text-size-title: 46px;
$text-size-subtitle: 32px;
$text-size-emphasis: 26px;
$text-size-upsized: 20px;
$text-size-regular: 16px;
$text-size-small: 12px;

@font-face {
  font-family: "Brandon Bold";
  src: url("../public/fonts/Brandon_bld.otf");
}

@font-face {
  font-family: "Brandon Medium";
  src: url("../public/fonts/Brandon_med.otf");
}

@font-face {
  font-family: "Brandon Regular";
  src: url("../public/fonts/Brandon_reg.otf");
}

$title-font: "Brandon Bold", Arial Bold, Helvetica, sans-serif;
$subtitle-font: "Brandon Medium", Arial, Helvetica, sans-serif;
$paragraph-font: "Brandon Regular", Arial, Helvetica, sans-serif;

@mixin title {
  font-family: $title-font;
  color: $text-color-primary;
  font-size: $text-size-title;
  font-weight: normal;
}

@mixin subtitle {
  font-family: $subtitle-font;
  color: $text-color-primary;
  font-size: $text-size-subtitle;
  font-weight: normal;
}

@mixin emphasis {
  font-family: $title-font;
  color: $text-color-secondary;
  font-size: $text-size-emphasis;
  font-weight: normal;
}

@mixin paragraph {
  font-family: $paragraph-font;
  color: $text-color-secondary;
  font-size: $text-size-regular;
}

@mixin small {
  font-family: $paragraph-font;
  color: $text-color-secondary;
  font-size: $text-size-small;
}
